@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination-button {
    width: 35px;
    height: 35px;
    border: 1px black solid;
    border-radius: 50%;
}

.active-button {
    color: white;
    background-color: black;
}

/*@media (min-width: 767px) {*/
/*    #product-list {*/
/*        padding-top: 48px;*/
/*        margin: 0 auto;*/
/*        align-items: center;*/
/*        display: grid;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        gap: 16px;*/
/*    }*/
/*}*/


/*@media (min-width: 1024px) {*/
/*    .info-block{*/
/*        width: 600px;*/
/*        margin: 0 auto;*/
/*    }*/
/*    .info-content{*/
/*        width: 600px;*/
/*        margin: 0 auto;*/
/*    }*/
/*    .info-block{*/
/*        width: 900px;*/
/*        margin: 0 auto;*/
/*    }*/
/*    .info-content {*/
/*        width: 900px;*/
/*        margin: 0 auto;*/
/*    }*/

/*    header {*/
/*        padding: 24px;*/
/*    }*/
/*    #product-list {*/
/*        padding-top: 48px;*/
/*        margin: 0 auto;*/
/*        display: grid;*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*        gap: 16px;*/
/*    }*/
/*}*/

#chevron-icon {
    transition: transform 0.3s ease;
}

#clickable-block.info-expanded #chevron-icon {
    transform: rotate(180deg);
}


@media (min-width: 1280px) {
    #product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1124px) and (max-width: 1279px) {
    #product-list {
        padding-top: 48px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .info-block {
        width: 900px;
        margin: 0 auto;
    }

    .info-content {
        width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 900px) and (max-width: 1123px) {
    #product-list {
        padding-top: 48px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .info-block {
        width: 700px;
        margin: 0 auto;
    }

    .info-content {
        width: 700px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 899px) {
    #product-list {
        padding-top: 48px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1);
        gap: 16px;
    }
}